body {
  /* background-color: #a0a3bd; */
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  /* height: 100vh; */
}

/* :root {
  background-color: #a0a3bd;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
} */
